<a href="/products/{{prodname}}" class = "items">
    <img src="../Photos/{{pimages.[0]}}" alt = "{{prodname}}">
    <p class = "productname">{{prodname}}</p>
    <p class = "price">₱{{priceNow}}</p>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
</a>