<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{prodname}}</title>
    {{!-- <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> --}}
    <link href="https://fonts.googleapis.com/css2?family=KoHo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/singleprod.css">
    {{> header}}
</head>

<body>
    
    <script src = "../JS/Site.js"></script>
    <script src="../JS/commentHandler.js"></script>
    <!-- Product -->
    <div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						<div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-main" ><img src="../Photos/{{mainimage}}" /></div>
                            {{#each pimages}}
                                <div class="tab-pane" id="pic-{{@index}}" ><img src="../Photos/{{this}}" /></div>
                            {{/each}}
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
                            <li class="active"><a data-target="#pic-main" data-toggle="tab"><img src="../Photos/{{mainimage}}" /></a></li>
                            {{#each pimages}}
                                <li><a data-target="#pic-{{@index}}" data-toggle="tab"><img src="../Photos/{{this}}" /></a></li>
                            {{/each}}
						</ul>
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{prodname}}</h3>
                        <img src="../Photos/fire.png" width="35"><span class="state">HOT!</span>
						<p class="product-description">
                            {{description}}
                        </p>
						<div class="product_meta">
                            <span class="posted_in"> 
                                <strong>CATEGORIES:</strong> 
                                {{#each categories}}
                                    <a rel="tag" href="#">{{this}}</a>, 
                                {{/each}}
                            </span>
                        </div>
                        <h4 class="price">price: 
                            {{#if onlyOnePrice}}
                                <span class="amount-new">₱{{priceNow}}</span>
                            {{else}}
                                {{!-- <span class="amount-old">₱{{priceBefore}}</span>  --}}
                                <span class="amount-new">₱{{priceNow}}</span>
                            {{/if}}
                        </h4>
						<p class="vote">Buyers enjoyed this product!</p>
						<div class="action">
							<button class="add-to-cart btn btn-default" type="button" onclick="alert('Product added to cart!')">add to cart</button>
						</div>
					</div>
                </div>
                <div class="product-drescription">
                    <br><p><u>Product Details</u></p>
                    <ul>
                        {{#each details}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div> 
                <hr>
                <hr>
                <div class="container mt-3">
                    <span class="commentsec"><u><strong>BUYER FEEDBACKS</strong></u></span>
                    <div class="d-flex justify-content-left row mt-2">
                        <div class="col-md-8">
                            <div class="d-flex flex-column comment-section">
                                {{#each reviews}}
                                    <div class="bg-white p-2">
                                        <div class="d-flex flex-row user-info"><img class="rounded-circle" src="../Photos/woah.png" width="40" height="40">
                                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"><a href="../HTML/User1.html">{{this.name}}</a></span>
                                                <!-- EDIT AND DELETE FEEDBACK -->
                                                <span class="date"><a href="">Edit </a><a href=""> Delete</a></span>
                                                <span class="date text-black-50">{{this.date}}</span></div>
                                        </div>
                                        <div class="mt-2">
                                            <p class="comment-text">{{this.comment}}</p>
                                        </div>
                                    </div>
                                    <br>
                                {{/each}}

                                <!-- User that will create feedback -->
                                <div class="bg-light p-2">
                                    <div class="d-flex flex-row align-items-start"><textarea class="form-control ml-1 shadow-none textarea" id="feedbackarea"></textarea></div>
                                    <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button" id="buttonfeedbackarea">Post feedback</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-5">
                    <span class="commentsec"><u><strong>COMMENTS</strong></u></span>
                    <div class="d-flex justify-content-left row mt-2">
                        <div class="col-md-8">
                            <div class="d-flex flex-column comment-section">
                                {{#each comments}}
                                    <div class="bg-white p-2">
                                        <div class="d-flex flex-row user-info"><img class="rounded-circle" src="../Photos/doggo.jpg" width="40" height="40">
                                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"><a href="../HTML/User2.html">{{this.name}}</a></span>
                                                <span class="date"><a href="">Edit </a><a href=""> Delete</a></span>
                                                <span class="date text-black-50">{{this.date}}</span></div>
                                        </div>
                                        <div class="mt-2">
                                            <p class="comment-text">{{this.comment}}</p>
                                        </div>
                                    </div>
                                    <br>
                                {{/each}}
                                
                                <!-- User that will create post -->
                                <div class="bg-light p-2">
                                    <div class="d-flex flex-row align-items-start"><textarea class="form-control ml-1 shadow-none textarea" id="commentarea"></textarea></div>
                                    <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button" id="buttoncommentarea">Post comment</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</body>
</html>